.selector {
    property:value;
    property:value;
    property:value;
}

.MainContainer {
  display: inline-flex;
  padding: 8px 8px 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 14px;
  background: #151718;
}

.ProtocolContainer {
  display: flex;
  width: 298px;
  padding: 0px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}

.ProtocolNetworkContainet {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
}

.ProtocolNetworkTextSection {
  display: flex;
  padding: 4px 8px 4px 4px;
  align-items: center;
}

.ProtocolImg {
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

.ProtocolText {
  color: rgba(255, 255, 255, 0.60);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ProtocolNetworkSection {
  display: flex;
  padding: 4px 8px 4px 4px;
  align-items: center;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.10);
}

.ProtocolNetworkContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.NetworkText {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #FFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SendRecieveContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.SendContainer {
  display: flex;
  width: 282px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background: rgba(255, 255, 255, 0.10);
}

.TokenSection {
    display: flex;
    align-items: center;
    gap: 12px;
}

.TokenImg {
    width: 32px;
    height: 32px;
}

.TokenNameSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.TokenAction {
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.TokenName {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.TokenNameSelect {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background:none;
    border: none;
}

.TokenAmountSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
}

.TokenAmount {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.TokenAmountInput {
    color: #FFF;
    text-align: right;
    background: none;
    border: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 130px;
}

.TokenAmountPreview {
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.RecieveContainer {
  display: flex;
  width: 282px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  background: rgba(255, 255, 255, 0.10);
}

.FeesContainer {
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.Line {
    width: 265px;
    height: 1px;
    background: rgba(255, 255, 255, 0.10);
}

.RateFeeContainer {
    display: flex;
    width: 265px;
    justify-content: space-between;
    align-items: flex-start;
}

.RateFeeText {
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.RateFeeValue {
    color: #8D8DFD;
    text-align: right;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ConfirmContainer {
    display: flex;
    height: 40px;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.ConfirmButton {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    background: #8D8DFD;
}

.ConfirmText {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
